.command-style {
    font-size: 25px;
    padding: 30px;
    width: 150px;
}

.font-style {
    color: #333;
    font-size: 25px;
    line-height: 1.5;
    margin-bottom: 10px;
}

.back {
    color: #ffffff;
    background-color: #ffc6a0;
    text-decoration: none;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
    text-align: left;
    width: 100px;
    font-size: 25px;
    border-radius: 16px;
}

.book {
    margin-left: 20%;
    margin-right: 20%;
    background: #eeeeee
}

.book-p {
    margin-right: 5em;
    margin-left: 5em;
    margin-bottom: 5em;
    line-height: 2.0;
}

.book-img {
    width: 45vw;
}

.code {
    background: #333;
    color: #eeeeee;
    border-radius: 10px;
    width: 50vw;

}

.center {
    text-align: center;
}

.right {
    text-align: right;
}

.left {
    text-align: left;
}

.code-text {
    font-size: 20px;
    margin-left: 10px;
}

.bottom-space {
    margin-bottom: 200px;
}

.about-terminal {
    margin-left: 30px;
    margin-right: 30px;
    line-height: 2;
}

.terminal {
    background: #222;
    color: #0f0;
    font-size: 18px;
    margin: 0;
    padding: 10px;
    overflow-y: auto;
}

.Tmain {
    height: 420px;
}

.text-size-normal {
    font-size: 25px;
}

.search-bar {
    font-size: 30px;
}

.terminal-input {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    font-size: 20px
}

.tab {
    display: flex;
    flex-wrap: wrap;

}

.tab>label {
    flex: 1 1;
    order: -1;
    min-width: 70px;
    padding: .9em 2em .5em;
    background-color: #eeeeee;
    color: #797979;
    font-weight: 600;
    font-size: .9em;
    text-align: center;
    cursor: pointer;
    border-radius: 15px 15px 0px 0px;
}

.tab>label:hover {
    opacity: .8;

}

.tab input[type="radio"] {
    display: none;
}

.tab>div {
    display: none;
    width: 100%;
    padding: 1.5em 1em;
    background-color: #fff;
}

.tab label:has(:checked) {
    border-bottom: 4px solid #25b9d0;
    color: #25b9d0;
}

.tab label:has(:checked)+div {
    display: block;
}

.js-console {
    background: #222;
    color: #0f0;
    margin: 0;
    padding: 10px;
    height: 300px;
    overflow-y: auto;
    font-size: 24px;
}
.js{
    font-family: sans-serif;
}
.editor {
        width: 98vw;
        height: 28vw;
        font-size: 26px;
}
.controls{
    font-size: 24px;
    margin-top: 24px;
}
.back:hover {
    background: linear-gradient(90deg, #ffa600 80%, #ffc6a0 100%);
    opacity: 0.9;
}